<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033810261503-2keb13frb267nlm2qmhvvjhjtbp0fglm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033810261503-2keb13frb267nlm2qmhvvjhjtbp0fglm</string>
	<key>API_KEY</key>
	<string>AIzaSyCQQHE3-LDJZFYFJ-MTNuoAzeJHv5DuaNw</string>
	<key>GCM_SENDER_ID</key>
	<string>1033810261503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.mindmatch</string>
	<key>PROJECT_ID</key>
	<string>mindmatch-ba671</string>
	<key>STORAGE_BUCKET</key>
	<string>mindmatch-ba671.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033810261503:ios:695cf79dbcec6df29fe3ca</string>
</dict>
</plist>